<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
{#    <link rel="stylesheet" type="text/css" href="/static/css/main.css">#}
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
</head>
<body>
    {% block content %}{% endblock %}

    <script type='text/javascript' src='/static/js/jquery.js'></script>
    <script type='text/javascript' src='/static/js/jquery/3.2.1.js'></script>
    <script type='text/javascript' src='/static/js/jquery/1.11.0.js'></script>
    <script type="text/javascript" src="/static/js/jquery/knob.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery/scroll_header.js"></script>
    <script type="text/javascript" src="/static/js/jquery/smoothscroll.js"></script>
    <script type="text/javascript" src="/static/js/jquery/scroll_underline.js"></script>
    <script type="text/javascript" src="/static/js/jquery/animation.js"></script>
    <script type="text/javascript" src="/static/js/jquery/charts.js"></script>
</body>
</html>